# Default code owner(s)
* @KhronosGroup/sycl-cts-reviewers

# Implementation specific cmake configuration file needs approval from
# the corresponding owner only.
/cmake/FindDPCPP.cmake @bader
/cmake/AdaptDPCPP.cmake @bader
/cmake/FindhipSYCL.cmake @illuhad

/test_plans @gmlueck @KhronosGroup/sycl-cts-reviewers
