# Default code owner(s)
* @ProGTX @bader @illuhad @keryell

# Implementation specific cmake configuration file needs approval from
# the corresponding owner only.
/cmake/FindComputeCpp.cmake @ProGTX
/cmake/FindDPCPP.cmake @bader
/cmake/FindhipSYCL.cmake @illuhad
# TODO: remove FindIntel_SYCL configuration file
/cmake/FindIntel_SYCL.cmake @bader
