# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
#  SYCL CONFORMANCE TEST SUITE
#  Dependencies
#  02/12/2014
#

    The following list specifies the current dependencies for the SYCL-CTS
    as of 02/12/2014.  The SYCL-CTS is known to work with these versions
    however it may likely work with others too.


# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
# windows compilation
#
    Microsoft Visual Studio 2013
    Python 2.7
    OpenCL 1.2  (4.6.0.92)
    CMake 2.8.11.2
    
    
# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
# linux compilation
#
    GCC 4.8.2   
    Python 2.7  
    OpenCL 1.2  (intel-opencl-1.2-4.6.0.92)
    CMake 2.8   
