# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
#  SYCL CONFORMANCE TEST SUITE
#  Dependencies
#  24/08/2017
#

    The following list specifies the current dependencies for the SYCL-CTS
    as of 24/08/2017.  The SYCL-CTS is known to work with these versions
    however it may likely work with others too.


# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
# windows compilation
#
    Microsoft Visual Studio 2015
    Python 2.7
    OpenCL 1.2  
    OpenGL 4.1 (optional for opengl interop tests)
    CMake 3.2.2
    
    
# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
# linux compilation
#
    GCC 4.8.4   
    Python 2.7  
    OpenCL 1.2  
    OpenGL 4.1 (optional for opengl interop tests)
    CMake 3.2.2
