/*************************************************************************
//
//  SYCL Conformance Test Suite
//
//  Copyright:	(c) 2017 by Codeplay Software LTD. All Rights Reserved.
//
**************************************************************************/

#include "../common/common.h"
#include "../common/common_vec.h"

#define TEST_NAME vector_api

namespace vector_api__ {
using namespace sycl_cts;

class TEST_NAME : public util::test_base {
 public:
  /** return information about this test
   */
  void get_info(test_base::info &out) const override {
    set_test_info(out, TOSTRING(TEST_NAME), TEST_FILE);
  }

  /** execute the test
   */
  void run(util::logger &log) override {
    /** Check some enum values exist
     */
    check_enum_class_value(cl::sycl::rounding_mode::automatic);
    check_enum_class_value(cl::sycl::rounding_mode::rte);
    check_enum_class_value(cl::sycl::rounding_mode::rtz);
    check_enum_class_value(cl::sycl::rounding_mode::rtp);
    check_enum_class_value(cl::sycl::rounding_mode::rtn);
    check_enum_class_value(cl::sycl::elem::x);
    check_enum_class_value(cl::sycl::elem::y);
    check_enum_class_value(cl::sycl::elem::z);
    check_enum_class_value(cl::sycl::elem::w);
    check_enum_class_value(cl::sycl::elem::r);
    check_enum_class_value(cl::sycl::elem::g);
    check_enum_class_value(cl::sycl::elem::b);
    check_enum_class_value(cl::sycl::elem::a);
    check_enum_class_value(cl::sycl::elem::s0);
    check_enum_class_value(cl::sycl::elem::s1);
    check_enum_class_value(cl::sycl::elem::s2);
    check_enum_class_value(cl::sycl::elem::s3);
    check_enum_class_value(cl::sycl::elem::s4);
    check_enum_class_value(cl::sycl::elem::s5);
    check_enum_class_value(cl::sycl::elem::s6);
    check_enum_class_value(cl::sycl::elem::s7);
    check_enum_class_value(cl::sycl::elem::s8);
    check_enum_class_value(cl::sycl::elem::s9);
    check_enum_class_value(cl::sycl::elem::sA);
    check_enum_class_value(cl::sycl::elem::sB);
    check_enum_class_value(cl::sycl::elem::sC);
    check_enum_class_value(cl::sycl::elem::sD);
    check_enum_class_value(cl::sycl::elem::sE);
    check_enum_class_value(cl::sycl::elem::sF);

    try {
      auto testQueue = util::get_cts_object::queue();
      {
        auto testDevice = testQueue.get_device();

        /** Test vector api
         */
        $HOST_API_CHECKS

        /** Test vector api with interop types
         */
        $INTEROP_API_CHECKS
      }
    } catch (const cl::sycl::exception &e) {
      log_exception(log, e);
      cl::sycl::string_class errorMsg =
          "a SYCL exception was caught: " + cl::sycl::string_class(e.what());
      FAIL(log, errorMsg.c_str());
    }
  }
};

util::test_proxy<TEST_NAME> proxy;

} /* namespace vector_api__ */
