/*************************************************************************
//
//  SPDX-FileCopyrightText: 2018-2022 Codeplay Software LTD.
//  SPDX-FileCopyrightText: 2023 The Khronos Group Inc.
//  SPDX-License-Identifier: Apache-2.0
//
//  SYCL Conformance Test Suite
//
**************************************************************************/

// Note: this is essentially a copy of vector.template, but it has extra
// #define SYCL_SIMPLE_SWIZZLES which is required for the swizzles test.

$IFDEF
#define SYCL_SIMPLE_SWIZZLES

#include "../common/common.h"
#include "../common/common_vec.h"

#define TEST_NAME vector_$CATEGORY_$TYPE_NAME

namespace vector_$CATEGORY_$TYPE_NAME__ {
using namespace sycl_cts;

class TEST_NAME : public util::test_base {
 public:
  /** return information about this test
   */
  void get_info(test_base::info &out) const override {
    set_test_info(out, TOSTRING(TEST_NAME), TEST_FILE);
  }

$EXCLUDE_IF_SIMSYCL_BYTE_BEGIN
  $TEST_FUNCS
$EXCLUDE_IF_SIMSYCL_BYTE_END

  /** execute the test
   */
  void run(util::logger &log) override {

$EXCLUDE_IF_SIMSYCL_BYTE_BEGIN
    $FUNC_CALLS
$EXCLUDE_IF_SIMSYCL_BYTE_END
$FAIL_IF_SIMSYCL_BYTE

  }
};

util::test_proxy<TEST_NAME> proxy;

} /* namespace vector_$CATEGORY_$TYPE_NAME__ */
$ENDIF
