name: Build SYCL CI Container Images

on:
  workflow_dispatch:
  schedule:
    # Once per day at 05:00 UTC
    - cron: "0 5 * * *"

jobs:
  build-common-base-image:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build common base image
        uses: docker/build-push-action@v2
        with:
          context: docker/common
          push: true
          tags: khronosgroup/sycl-cts-ci:common
          cache-from: type=registry,ref=khronosgroup/sycl-cts-ci:common
          cache-to: type=inline

  build-image-for-sycl-impl:
    needs: build-common-base-image
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # ComputeCpp images are built by Codeplay for the time being
          # - sycl-impl: computecpp
          # version: 2.6.0
          - sycl-impl: dpcpp
            version: ec97c57
          - sycl-impl: hipsycl
            version: b836149
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build SYCL container image
        uses: docker/build-push-action@v2
        with:
          context: docker/${{ matrix.sycl-impl }}
          push: true
          tags: khronosgroup/sycl-cts-ci:${{ matrix.sycl-impl }}-${{ matrix.version }}
          cache-from: type=registry,ref=khronosgroup/sycl-cts-ci:${{ matrix.sycl-impl }}-${{ matrix.version }}
          cache-to: type=inline
          build-args: |
            IMPL_VERSION=${{ matrix.version }}
